$white: #ffffff;
$blue01: #1f3f68;
$blue02: #316099;
$blue03: #356ead;
$blue04: #5A98D0;
$blue05: #98c3e8;
$blue06: #eaf3fb;
$max-mobl-width: 459px;
$fablt-width: 460px;
$max-fablt-width: 659px;
$tablt-width: 660px;
$midl-tablt-width1: 805px;
$midl-tablt-width2: 1013px;
$max-tablt-width: 1199px;
$notbk-width: 1200px;
$max-notbk-width: 1365px;
$deskt-width: 1366px;
